body {
    background-color: green;
    text-align: center;
    color: aliceblue;
}

h1 {
    color: rgb(138, 62, 21);
    font-size: larger;
    
}
h2 {
    color: rgb(138, 62, 21);
}
button {
    margin: 10px auto;
    align-content: center;
    text-align: center;
    display: block;
}